@import "../shared/colors.scss";
@import "../shared/fonts.scss";

.footer {
    padding: 3rem;
    margin-top: 5rem;

    ul {
        li {
            a {
                display: flex;
                margin: 0 0 .5rem;
                font-weight: 400;
                opacity: .75;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .footer__meta {
        display: block;
        border-top: 1px solid $border;
        padding: 2rem 0;
        margin: 2rem 0 0;

        .logo {
            display: block;
            margin-right: 2rem;
            font-family: 'Superscript';
            font-size: 1.5rem;
            color: #fff;
            margin-bottom: 1rem;
        }
    }
}
